/* css properties */
:root {
  --color-body-bg:rgb(246, 246, 247);
  --spacing-medium: 15px;
  --spacing-small: 10px;
}

/* reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* base style */

body {
  background-color: var(--color-body-bg);
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  flex-basis: 1200px;
  padding: 0 var(--spacing-small);
}

.search,
.results,
.nominations {
  background-color: rgb(255, 255, 255);
  padding: var(--spacing-medium);
}

/* search component */
.search {
  margin: var(--spacing-medium) 0;
}

.search__input {
  width: 100%;
}

/* utilities */
.wrapper--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--spacing-medium);
}

@media only screen and (max-width: 749px) {
  .wrapper--grid {
    grid-template-columns: 1fr;
    grid-row-gap: var(--spacing-medium);
  }
}